<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../../src/Global/global-var.css">
    <title>Home</title>
</head>
<body>
    <iframe src="../../Global/header.html" frameborder="0" width="100%" height="100%"></iframe>
    <main>
        <div id="card-part">
            <div class="card">
                <div id="title">Missão</div>
                <div id="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati id odit eveniet vero, quasi excepturi minima, nulla optio alias ipsum recusandae labore autem doloribus voluptatum sit eligendi veritatis placeat ducimus.</div>
            </div>
            <div class="card">
                <div id="title">Visão</div>
                <div id="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, labore earum tempora veritatis deleniti amet facere quasi similique! Sit mollitia optio nesciunt ad excepturi a beatae voluptate similique quo dolores!</div>
            </div>
            <div class="card">
                <div id="title">Valores</div>
                <div id="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum illo incidunt consequuntur cupiditate, quaerat debitis et. Sint, exercitationem voluptas iure minus quos quis praesentium in quas, aliquid obcaecati voluptatem eligendi.</div>
            </div>
        </div>
    </main>
    <iframe style="height: 10vh;" src="../../Global/footer.html" frameborder="0" width="100%" height="100%"></iframe>
</body>
</html>