<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../../src/Global/global-var.css">
    <script type="module" src="../../Global/Elements.tsx"></script>
    <title>Home</title>
</head>
<body>
    <div id="tsx-header"></div>
    <main>
        <div id="card-part">
            <div class="card">
                <div id="title">Missão</div>
                <div id="content">Quebrar barreiras no acesso ao conhecimento, conectando leitores e ideias em uma plataforma viva, colaborativa e feita para quem quer ir além.</div>
            </div>
            <div class="card">
                <div id="title">Valores</div>
                <div id="content">
                    Acesso Livre: Conhecimento sem fronteiras. <br>
                    Construção Coletiva: Todo leitor também é um construtor da nossa biblioteca.<br>
                    Transparência Radical: Rankings, dados e recomendações claros e auditáveis.<br>
                    Paixão por Aprender: Ler é só o começo — a jornada é para a vida toda.
                </div>
            </div>
            <div class="card">
                <div id="title">Visão</div>
                <div id="content">Construir a maior comunidade digital de leitura e aprendizado contínuo, onde rankings, recomendações e experiências moldam o futuro da educação e da cultura.</div>
            </div>
        </div>
    </main>
    <div id="tsx-footer"></div>
</body>
</html>