@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75,300&display=swap');
:root {
    --global-font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
    
    --theme-color: rgb(14, 181, 153);
    --theme-color2: #083E39;
    --dark-bg-color: rgb(41, 50, 45);
    --light-bg-color: #D9D9D9;
    --soft-theme-color: #CDE6E6;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--global-font-family);
}
body{
    background-color: var(--light-bg-color);
}
iframe{
    height: 10vh;
}