<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="module" src="App.tsx"></script>
        <link rel="stylesheet" href="../general.css">
        <link rel="stylesheet" href="style.css">
        <title>Sign Up</title>
    </head>
    <body>
        <main>
            <div id="wrapper">

                <div id="info-part">
                    <div id="logo-container"></div>
                    <h2>Sign Up</h2>
                </div>

                <div id="form-container"></div>

                <p id="log-in">Já possui uma conta? <a href="../LogIn/index.html">Entrar</a></p>
            </div>
        </main>
        <div id="side-bar"></div>
    </body>
</html>